# ==== macOS ====
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# ==== Python ====
__pycache__/
*.py[cod]
*$py.class

# ==== Virtual environments ====
.env
.venv
env/
venv/
.python-version

# ==== Jupyter ====
.ipynb_checkpoints/

# ==== IDE / editors ====
.vscode/
.idea/

# ==== Streamlit ====
.streamlit/secrets.toml

# ==== Logs / temp files ====
*.log
*.tmp
